
<h3>Insert</h3>
<form method="POST" action="insert">
    <input type="hidden" name="table" value="{{table}}"></input>
    <label>Album Name</label> <select name="album_id">
        <option value=""></option>
        {{#each fk.albums}}
        <option value="{{this.[0]}}">{{this.[1]}}</option>
        {{/each}}
    </select>
    <label>Name<label> <input name="name">
    <label for="price">Price</label><input name="price">
    {{>buttons}}
</form>

{{>delete}}

<h3>Search</h3>
<form method="POST" action="search">
    <input type="hidden" name="table" value="{{table}}"></input>
    <label>Album Name</label><select name="album">
        <option value="{{default}}">{{default}}</option>
        {{#if default}}
        <option value=""></option>
        {{/if}}
        {{#each fk.albums}}
        <option value="[{{this.[0]}}, {{this.[1]}}]">{{this.[1]}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>


{{>table}}
